* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    background-color: hsla(174, 100%, 50%, 0.301);
    background-size: 100% 40%;
    background-repeat: no-repeat;
}

#info {
    text-align: center;
    padding: 10px;
    max-width: 90%;
}

#headline {
    text-align: center;
    padding: 5px;
    max-width: 90%;
}

#headline {
    margin-bottom: 20px;
    text-decoration: none;
}

#tip_cal {
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    max-width: 500px;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.form-label {
    font: bolder;
    font-size: 1.5rem;
}

.form-input {
    border: 5px solid black;
    border-radius: 10px;
    width: 100%;
}